<h1>Alta</h1>

<form method="post">

    <label>Nombre</label><br>
    <input type="text" name="nombre"><br>
    <label>Apellido</label><br>
    <input type="text" name="apellido"><br>
    <label>Fecha de nacimiento</label><br>
    <input type="datetime-local" name="fechaNacimiento"><br>
    <input type="submit" value="Dar de alta">

</form>
<p>@ViewBag.Resultado</p>